<%= form_for @review do |f| %>

  <p>title: <%= f.text_field :title %></p>
  <p>body: <%= f.text_area :body %></p>
  <p>score: <%= f.number_field :score %></p>
  <%= f.submit "Save review"%>

<% end %>
