<%= form_for @review do |f| %>

  <% if @review.errors.any? %>
    <div class="errors">
      <!-- message or anything else -->
      <% @review.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <p>title: <%= f.text_field :title %></p>
  <p>restaurant: <%= f.text_field :restaurant %></p>
  <p>body: <%= f.text_area :body %></p>
  <p>ambiance: <%= f.text_field :ambiance %></p>
  <p>cuisine: <%= f.text_field :cuisine %></p>
  <p>score: <%= f.number_field :score %></p>
  <p>price: <%= f.number_field :price %></p>
  <%= f.submit "Save review"%>

<% end %>
