<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :page_title %> - Bien</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <h1> <%= link_to "Bien reviews", root_path %> </h1>
      <h3>Best website for restaurant review</h3>

      <nav>
        <% if session[:user_id].present? %>
          <%= link_to "Add a review", new_review_path %>
        <% else %>
          <!-- user controller -> new page -->
          <%= link_to "Sign Up", new_user_path %>
          <!-- session controller -> new page -->
          <%= link_to "Log in", new_session_path %>

        <% end %>

      </nav>

    </header>

    <%= yield %>

    <footer>
        <p>Copyright 2022</p>
    </footer>
  </body>
</html>
